/*
	@package sunsettheme
*/
/*
	Imports
	------------------------------------------------
*/
/*
	@package sunsettheme
*/
/*
	Variables
	------------------------------------------------
*/
/*
	@package sunsettheme
*/
/*
	Mixins
	------------------------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*
	@package sunsettheme
*/
/*
	Placeholder
	------------------------------------------------
*/
.header-container, .sunset-format-image .entry-header, .sunset-format-gallery .carousel-control {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */ }

/*
	@package sunsettheme
*/
/*
	Font Icon
	------------------------------------------------
*/
@font-face {
  font-family: 'sunset-icon';
  src: url("../fonts/sunset-icon.eot?dxcjr7");
  src: url("../fonts/sunset-icon.eot?dxcjr7#iefix") format("embedded-opentype"), url("../fonts/sunset-icon.ttf?dxcjr7") format("truetype"), url("../fonts/sunset-icon.woff?dxcjr7") format("woff"), url("../fonts/sunset-icon.svg?dxcjr7#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
.sunset-icon {
  font-family: "sunset-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sunset-audio:before {
  content: "\e800"; }

.sunset-chevron-left:before {
  content: "\e801"; }

.sunset-chevron-right:before {
  content: "\e802"; }

.sunset-close:before {
  content: "\e803"; }

.sunset-comment:before {
  content: "\e804"; }

.sunset-link:before {
  content: "\e805"; }

.sunset-loading:before {
  content: "\e806"; }

.sunset-logo:before {
  content: "\e807"; }

.sunset-menu:before {
  content: "\e808"; }

.sunset-pencil:before {
  content: "\e809"; }

.sunset-pics:before {
  content: "\e80a"; }

.sunset-search:before {
  content: "\e80b"; }

.sunset-share:before {
  content: "\e80c"; }

.sunset-tag:before {
  content: "\e80d"; }

.sunset-video:before {
  content: "\e80e"; }

/*
	Generic
	------------------------------------------------
*/
body {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale; }

a {
  color: #000000;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/*
	Header
	------------------------------------------------
*/
.header-container {
  position: relative;
  display: block;
  height: 326px; }

.site-title {
  color: #fff;
  margin: 0;
  font-size: 80px; }

.site-description {
  font-size: 14px;
  color: #fff;
  margin-top: 1em; }

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/*
	Nav Bar
	------------------------------------------------
*/
.navbar-sunset {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-sunset ul {
    float: none; }
  .navbar-sunset li {
    float: none;
    display: inline-block; }
    .navbar-sunset li.active a {
      opacity: 1; }
      .navbar-sunset li.active a:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .navbar-sunset li.open a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1) !important; }
      .navbar-sunset li.open a:after {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0 !important; }
      .navbar-sunset li.open a:hover, .navbar-sunset li.open a:focus, .navbar-sunset li.open a:visited {
        background-color: rgba(0, 0, 0, 0.1) !important; }
        .navbar-sunset li.open a:hover:after, .navbar-sunset li.open a:focus:after, .navbar-sunset li.open a:visited:after {
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          opacity: 0 !important; }
    .navbar-sunset li a {
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .navbar-sunset li a:hover, .navbar-sunset li a:focus, .navbar-sunset li a:visited {
        background: none;
        opacity: 1; }
        .navbar-sunset li a:hover:after, .navbar-sunset li a:focus:after, .navbar-sunset li a:visited:after {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; }
      .navbar-sunset li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }
    .navbar-sunset li ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.75); }
      .navbar-sunset li ul.dropdown-menu li {
        display: block; }
        .navbar-sunset li ul.dropdown-menu li a:hover, .navbar-sunset li ul.dropdown-menu li a:focus, .navbar-sunset li ul.dropdown-menu li a:visited {
          background: rgba(0, 0, 0, 0.25) !important;
          color: #fff; }

/*
	Standart  Post Format
	------------------------------------------------
*/
article {
  padding-top: 40px;
  padding-bottom: 40px; }

h1 {
  font-size: 48px;
  font-weight: 200; }
  h1 a {
    color: #000000; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 0;
    padding: 0; }
    h1.entry-title:before, h1.entry-title:after {
      content: '~';
      display: inline-block;
      position: relative; }
    h1.entry-title:before {
      margin-right: 10px; }
    h1.entry-title:after {
      margin-left: 10px; }

.entry-meta {
  font-size: 13px;
  font-weight: 200;
  color: #898989;
  margin-bottom: 20px; }
  .entry-meta a {
    font-weight: 500;
    color: #898989; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #333333; }

.standart-featured-link {
  display: block;
  position: relative; }
  .standart-featured-link:hover .standart-featured::after, .standart-featured-link:focus .standart-featured::after {
    background-color: transparent; }

.standart-featured {
  height: 330px;
  display: block;
  position: relative; }
  .standart-featured:after {
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35); }

.entry-excerpt {
  margin: 30px 0 16px; }
  .entry-excerpt p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 0.02em; }

.button-container {
  margin-bottom: 30px; }

.btn-sunset {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: transparent; }
  .btn-sunset:hover, .btn-sunset:focus {
    color: #ffffff;
    border-color: #333333;
    background-color: #333333; }

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid #F1F1F1;
  color: #898989;
  text-transform: uppercase; }
  .entry-footer a {
    color: #898989;
    display: inline-block;
    font-size: 12px; }
    .entry-footer a:hover, .entry-footer a:focus {
      color: #333333; }
  .entry-footer .tags-list .sunset-icon {
    margin-right: 10px; }
  .entry-footer .tags-list a {
    padding: 0 4px; }
  .entry-footer .comments-link .sunset-icon {
    margin-left: 10px; }

/*
	Image Post Format
	------------------------------------------------
*/
.sunset-format-image .entry-header {
  height: 600px;
  position: relative; }
.sunset-format-image h1,
.sunset-format-image .entry-meta,
.sunset-format-image .entry-header {
  color: #ffffff; }
  .sunset-format-image h1 a,
  .sunset-format-image .entry-meta a,
  .sunset-format-image .entry-header a {
    color: #ffffff; }
.sunset-format-image h1 {
  padding-top: 10px; }

.entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0; }
  .entry-excerpt.image-caption p {
    margin: 40px 0;
    font-size: 14px; }

/*
	Audio Post Format
	------------------------------------------------
*/
.sunset-format-audio h1 {
  font-size: 30px; }
  .sunset-format-audio h1.entry-title {
    display: inline-block;
    margin-right: 20px; }
    .sunset-format-audio h1.entry-title:before, .sunset-format-audio h1.entry-title:after {
      display: none; }
.sunset-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0; }
.sunset-format-audio .entry-content iframe {
  width: 100%;
  height: 166px; }

/*
	Video Post Format
	------------------------------------------------
*/
.sunset-format-video header h1.entry-title {
  margin-top: 20px; }

/*
	Gallery Post Format
	------------------------------------------------
*/
.sunset-format-gallery header h1.entry-title {
  margin-top: 20px; }
.sunset-format-gallery .standart-featured {
  height: 500px; }
  .sunset-format-gallery .standart-featured:after {
    background-color: transparent; }
.sunset-format-gallery .carousel-control {
  background: none;
  background-image: none;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 30px;
  width: auto; }
  .sunset-format-gallery .carousel-control .preview-container {
    position: relative;
    display: block;
    padding: 20px;
    background-color: transparent;
    line-height: 0;
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease; }
    .sunset-format-gallery .carousel-control .preview-container .thumbnail-container {
      position: absolute;
      display: block;
      height: 68px;
      width: 68px;
      border-radius: 50%;
      background: #999;
      top: 1px;
      -webkit-transition: transform 320ms ease;
      -moz-transition: transform 320ms ease;
      -ms-transition: transform 320ms ease;
      -o-transition: transform 320ms ease;
      transition: transform 320ms ease;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
  .sunset-format-gallery .carousel-control.right .preview-container {
    padding-left: 60px;
    border-radius: 35.5px 0 0 35.5px; }
    .sunset-format-gallery .carousel-control.right .preview-container .thumbnail-container {
      left: 1px; }
  .sunset-format-gallery .carousel-control.left .preview-container {
    padding-right: 60px;
    border-radius: 0 35.5px 35.5px 0; }
    .sunset-format-gallery .carousel-control.left .preview-container .thumbnail-container {
      right: 1px; }
  .sunset-format-gallery .carousel-control:hover .preview-container {
    background-color: rgba(0, 0, 0, 0.8); }
    .sunset-format-gallery .carousel-control:hover .preview-container .thumbnail-container {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
.sunset-format-gallery .entry-excerpt.image-caption {
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }
.sunset-format-gallery:hover .entry-excerpt.image-caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

/*
	Quote Post Format
	------------------------------------------------
*/
.sunset-format-quote .quote-content {
  font-size: 42px;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.03em; }
  .sunset-format-quote .quote-content:before, .sunset-format-quote .quote-content:after {
    content: '';
    display: inline-block;
    position: relative;
    color: #ccc; }
  .sunset-format-quote .quote-content:before {
    content: '"'; }
  .sunset-format-quote .quote-content:after {
    content: ""; }
.sunset-format-quote .quote-author {
  color: #898989;
  font-size: 12px;
  letter-spacing: 0.06em; }

/*
	Link Post Format
	------------------------------------------------
*/
.sunset-format-link h1.entry-title:before, .sunset-format-link h1.entry-title:after {
  display: none; }
.sunset-format-link h1.entry-title a {
  display: block; }
.sunset-format-link h1.entry-title .link-icon {
  display: block;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  line-height: 1em;
  padding-top: 10px; }

/*
	Aside Post Format
	------------------------------------------------
*/
.sunset-format-aside .aside-container {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 20px; }
.sunset-format-aside .aside-featured {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin: 0 auto -20px; }
.sunset-format-aside .entry-meta {
  margin-bottom: 5px; }
.sunset-format-aside .entry-excerpt {
  margin-top: 0; }
  .sunset-format-aside .entry-excerpt p {
    font-size: 15px; }
.sunset-format-aside .entry-footer {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding-right: 10px; }

/*
	Footer Section
	------------------------------------------------
*/
.sunset-footer {
  color: #fff;
  background-color: #333;
  padding: 20px 0;
  margin-top: 40px;
  display: block; }

/*
	Ajax Loading
	------------------------------------------------
*/
.container-load-previous {
  margin-top: 40px;
  margin-bottom: -40px; }

.sunset-posts-container {
  padding-top: 40px; }
  .sunset-posts-container article {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
    .sunset-posts-container article.reveal {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }

.btn-sunset-load {
  display: block;
  width: 200px;
  color: #222;
  font-size: 30px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease; }
  .btn-sunset-load:hover, .btn-sunset-load:focus, .btn-sunset-load.loading {
    opacity: 1; }
  .btn-sunset-load.loading {
    cursor: default; }
  .btn-sunset-load span {
    display: block; }

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

/*# sourceMappingURL=sunset.css.map */
