/*
	@package sunsettheme
*/

/*
	Mixins
	------------------------------------------------
*/

@mixin animate ( $attr, $time ) {
	-webkit-transition: $attr $time ease;
	-moz-transition: $attr $time ease;
	-ms-transition: $attr $time ease;
	-o-transition: $attr $time ease;
	transition: $attr $time ease;
}

@mixin transform( $val ) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}


