/*
	@package sunsettheme
*/

/*
	Variables
	------------------------------------------------
*/
$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$primary-color : #000000;
$dark-grey : #333333;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
